.random-container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    select, input {
        display: block;
        width: 220px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        box-sizing: border-box
    }

    select {
        padding-left: 7px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    input {
        padding: 0 10px;
    }
}
.random-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.random-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .fail {
        color: #f1bf03;
        font-size: 24px;
        font-weight: bold;
    }

    .benefit {
        color: #008abe;
        font-size: 44px;
        font-weight: bold;
    }
}